.App {
    text-align: center;
}
.App #header {
    padding: 10px 0px;
    position: absolute;
    z-index: 1000;
    width: 100%;
}
.App #header #sync-camera {
    width: 35px;
    position: absolute;
    top: 8px;
    right: 10px;
}
.App #mode-camera, .App #list-icon {
    margin-left: 10px; 
    width: 80px; 
    height: 21px;
    position: relative;
    top: -1px
}
body {
    margin: 0;
}
select {
    font-family: fontAwesome
}

#capture #img-select {
    width: 50px;
    color: red;
    position: absolute;
    left: 45%;
    top: 35%;
    z-index: 1000;
}
#drop-select-img img {
    height: auto !important;
}
#drop-select-img .react-custom-flag-select__select__selector___1JJ_x {
    padding: 0 !important;
}
#drop-select-img .react-custom-flag-select__select__dropdown-name___TxNpJ {
    display: none !important;
}
.react-custom-flag-select__select__container___2FIjR react-custom-flag-select__show___1cXxR {
    border: none !important;
}
.react-custom-flag-select__select__container___2FIjR :focus{
    outline: none !important;
}
.react-custom-flag-select__select__options-item___3_6R4.react-custom-flag-select__active___2SYE9, .react-custom-flag-select__select__options-item___3_6R4 {
    background: none !important;
}
.react-custom-flag-select__select__options-item___3_6R4 {
    padding: 3px !important;
    border-bottom: 1px solid #be96ca;
    display: block !important;
}
.react-custom-flag-select__select__dropdown___Pf01k {
    display: block !important;
}
.react-custom-flag-select__select__dropdown___Pf01k {
    height: 37px !important;
}